Dockerfile
.dockerignore
node_modules
/**/node_modules
node_modules_linux
npm-debug.log
README.md
.next
.git
*.tsbuildinfo
.eslintcache
/test-results/
/playwright-report/
/blob-report/
/mocks/
**/*.spec.ts
**/*.spec.tsx
**/*.pw.tsx
**/*.test.ts
**/*.test.tsx
/.github/
/.vscode/
/.husky/
/playwright/
CHANGELOG.md
LICENSE
.env.local
